## Separate cellphonedb input into young and old

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scanpy as sc

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # to show output from all the lines in a cells
pd.set_option('display.max_column',None) # display all the columns in pandas
pd.options.display.max_rows = 100

from datetime import date
today = str(date.today())

In [3]:
sc.settings.set_figure_params(dpi = 150, color_map = 'RdPu', dpi_save = 150, vector_friendly = True, format = 'pdf')

In [4]:
%cd /nfs/team205/vk8/scripts

/nfs/team205/vk8/scripts

In [38]:
adata = sc.read("cpdb/SKM_myofiber2immcells/SKM_myofiber2immcells_adata_2021-07-04.h5ad")

In [48]:
adata.obs[['Age', 'Age_bin', 'DonorID', 'batch']].drop_duplicates().sort_values(['Age'])

                                    Age Age_bin DonorID   batch
5386STDY8090406-AAACCTGAGAAACGAG-1   19   young   470BR  nuclei
5386STDY8090404-GACTGCGAGAGTACAT-1   19   young   470BR   cells
5386STDY7796286-AAACCTGAGTTACCCA-1   22   young    398B  nuclei
WS_A_SKM9845427-ACGGAAGCATGGAAGC-1   28   young    583B   cells
5386STDY7835292-TCCCGATTCCTAGAAC-1   29   young    411C   cells
WS_A_SKM9426499-AAACGAAAGAACGCGT-1   29   young    566B  nuclei
5386STDY8552613-AAACCTGAGAAAGTGG-1   35   young    464C  nuclei
5386STDY8047212-AAGGTTCTCGAACTGT-1   35   young    464C   cells
WS_A_SKM9426501-AAACCCACAATCTGCA-1   37     old    529C  nuclei
WS_A_SKM9845429-GGCTTTCGTCACTCGG-1   38   young    591C   cells
WS_A_SKM9845425-TCTCAGCCAGGGAATC-1   58     old    582C   cells
5386STDY7600836-AAACCTGAGGGTGTGT-1   60     old    362C  nuclei
5386STDY7600838-AACACGTGTGAAAGAG-1   60     old    362C   cells
WS_A_SKM9426495-AAACCCAAGTATGGCG-1   61     old    502B  nuclei
5386STDY8493510-AAACCTGAGATCACGG-1   64     old    500C  nuclei
5386STDY7645355-AAACCTGAGGCCCTCA-1   70     old    367C  nuclei
5386STDY7645353-GGTGAAGTCAGGCGAA-1   70     old    367C   cells
mus_SNuc7511880-TCAATCTTCACCCTCA-1   70     old    343B   cells
WS_A_SKM9426497-AAACCCACACTATCGA-1   70     old    343B  nuclei
mus_SNuc7468112-GCGAGAACAGTCAGCC-1   73     old    339C   cells
mus_SNuc7468111-AAACCTGAGCGCTCCA-1   73     old    339C  nuclei

In [13]:
adata.obs['Age_bin'] = adata.obs['Age'].apply(lambda x: 'young' if x < 40 else 'old')

In [14]:
adata.obs.groupby(['Age', 'Age_bin']).count()

,,sample,barcode,DonorID,Sex,Species,Operator,Sample,SampleID,NoCells,NoGenes,QC,Sequencing saturation,10X_version,n_counts,n_genes,percent_mito,percent_ribo,scrublet_score,scrublet_cluster_score,bh_pval,is_doublet,mito_per,n_genes_by_counts,log1p_n_genes_by_counts,total_counts,log1p_total_counts,pct_counts_in_top_50_genes,pct_counts_in_top_100_genes,pct_counts_in_top_200_genes,pct_counts_in_top_500_genes,leiden,annotation_broad_v1,leiden_ctype,annotation_subcluster,annotation_broad_v2,subtype_major,subtype_minor,scrublet_score_cbender,is_doublet_cbender,cell_type(nuclei)_level2,batch_bbknn,batch,cpdb_ctype*age
Age,Age_bin,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
19,young,8860,8860,8860,8860,8860,8860,8860,8860,8860,8860,8860,0,8860,8860,8860,8860,8860,998,998,998,8860,998,998,998,998,998,998,998,998,998,998,8860,8860,8860,8860,8860,8860,7862,8860,8860,8860,8860,8860
22,young,785,785,785,785,785,785,785,785,785,785,785,0,785,785,785,785,785,0,0,0,785,0,0,0,0,0,0,0,0,0,0,785,785,785,785,785,785,785,785,785,785,785,785
28,young,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,0,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,8077,0,8077,8077,8077,8077,8077
29,young,9797,9797,9797,9797,9797,9797,9797,9797,9797,9797,9797,8914,9797,9797,9797,9797,9797,883,883,883,9797,883,883,883,883,883,883,883,883,883,883,9797,9797,9797,9797,9797,9797,8914,9797,9797,9797,9797,9797
35,young,9936,9936,9936,9936,9936,9936,9936,9936,9936,9936,9936,0,9936,9936,9936,9936,9936,285,285,285,9936,285,285,285,285,285,285,285,285,285,285,9936,9936,9936,9936,9936,9936,9651,9936,9936,9936,9936,9936
37,young,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,0,0,0,9065,0,0,0,0,0,0,0,0,0,0,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065,9065
38,young,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,0,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,5258,0,5258,5258,5258,5258,5258
58,old,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,0,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,5255,0,5255,5255,5255,5255,5255
60,old,18109,18109,18109,18109,18109,18109,18109,18109,18109,18109,18109,5913,18109,18109,18109,18109,18109,2170,2170,2170,18109,2170,2170,2170,2170,2170,2170,2170,2170,2170,2170,18109,18109,18109,18109,18109,18109,15939,18109,18109,18109,18109,18109
61,old,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,0,0,0,2332,0,0,0,0,0,0,0,0,0,0,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332,2332
64,old,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,0,2089,2089,2089,2089,2089,0,0,0,2089,0,0,0,0,0,0,0,0,0,0,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089
70,old,20911,20911,20911,20911,20911,20911,20911,20911,20911,20911,20911,8586,20911,20911,20911,20911,20911,6070,6070,6070,20911,6070,6070,6070,6070,6070,6070,6070,6070,6070,6070,20911,20911,20911,20911,20911,20911,14841,20911,20911,20911,20911,20911
73,old,9288,9288,9288,9288,9288,9288,9288,9288,9288,9288,9288,0,9288,9288,9288,9288,9288,1939,1939,1939,9288,1939,1939,1939,1939,1939,1939,1939,1939,1939,1939,9288,9288,9288,9288,9288,9288,7349,9288,9288,9288,9288,9288

In [16]:
adata_young = adata[adata.obs['Age_bin'] == 'young',:].copy()

In [15]:
adata_old = adata[adata.obs['Age_bin'] == 'old',:].copy()

In [17]:
adata.shape
adata_young.shape
adata_old.shape

(109762, 26077)

(51778, 26077)

(57984, 26077)

In [21]:
adata_young.obs['annotation_subcluster'].value_counts()

MF_typeI                11809
MF_typeII                8732
high_mito                4205
Type_I_Myocytes          3009
Hybrid                   2979
MF_typeI-FAM189A2        2680
MF_typeI-OTUD1           2552
Type_II_Myocytes         2021
MatureNeu-KATNBL1+       1856
MatureNeu-MMP9+          1780
LYVE1+M2-Macrophage      1769
MF_typeII-FAM189A2       1621
CD4+Tcell                 834
MF_type-NCAM1             651
CD16-Mono                 613
C14-Mono-SERPINB2+        603
MF_typeII-TNFRSF12A       546
UCHL1+Myocytes            503
CD8+Tcell                 457
CD16+NK                   415
C14-Mono-CSTA+            301
cDC2                      287
Mast_cell                 278
naive-Tcell               174
NMJ                       158
MF_type-SORBS2            137
MF_typeII-OTUD1           133
B_memory                  118
PreNeu                    113
CD8+Tcell-CTL-CRTAM+      108
B_naive                   104
CD16-NK                    78
MTJ                        74
ProNeu                     21
cDC1                       20
APOE+M2-Macrophage         18
HOOK2+Myocytes             12
MYH8+Myocytes               9
Name: annotation_subcluster, dtype: int64

In [23]:
adata_young.obs['annotation_subcluster'].unique()

['cDC2', 'Type_I_Myocytes', 'CD16-Mono', 'LYVE1+M2-Macrophage', 'C14-Mono-SERPINB2+', ..., 'MF_typeII-OTUD1', 'NMJ', 'MF_type-SORBS2', 'MF_typeII-TNFRSF12A', 'MTJ']
Length: 38
Categories (38, object): ['cDC2', 'Type_I_Myocytes', 'CD16-Mono', 'LYVE1+M2-Macrophage', ..., 'NMJ', 'MF_type-SORBS2', 'MF_typeII-TNFRSF12A', 'MTJ']

In [24]:
adata_old.obs['annotation_subcluster'].unique()

['Type_I_Myocytes', 'MYH8+Myocytes', 'Type_II_Myocytes', 'cDC1', 'cDC2', ..., 'MF_type-SORBS2', 'MF_typeI-OTUD1', 'MF_typeII-OTUD1', 'NMJ', 'MTJ']
Length: 40
Categories (40, object): ['Type_I_Myocytes', 'MYH8+Myocytes', 'Type_II_Myocytes', 'cDC1', ..., 'MF_typeI-OTUD1', 'MF_typeII-OTUD1', 'NMJ', 'MTJ']

In [26]:
[i for i in adata_old.obs['annotation_subcluster'].unique() if i not in adata_young.obs['annotation_subcluster'].unique()]

['Eosinophil', 'pDC']

In [31]:
adata_young.obs['cpdb_ctype*age'] = adata_young.obs['annotation_subcluster'].astype(str) + '-'\
+ adata_young.obs['Age_bin'].astype(str)

In [32]:
adata_old.obs['cpdb_ctype*age'] = adata_old.obs['annotation_subcluster'].astype(str) + '-'\
+ adata_old.obs['Age_bin'].astype(str)

In [34]:
adata_young.obs[['annotation_subcluster', 'cpdb_ctype*age']]

,annotation_subcluster,cpdb_ctype*age
5386STDY7835292-TCCCGATTCCTAGAAC-1,cDC2,cDC2-young
5386STDY7835292-CAGCGACAGAACTCGG-1,Type_I_Myocytes,Type_I_Myocytes-young
5386STDY7835292-ACGAGGACACCGATAT-1,CD16-Mono,CD16-Mono-young
5386STDY7835292-ATTATCCAGTGTGGCA-1,cDC2,cDC2-young
5386STDY7835292-AGTGAGGAGTTCGCAT-1,cDC2,cDC2-young
...,...,...
WS_A_SKM9426502-TTTGTTGAGATGCTAA-1,high_mito,high_mito-young
WS_A_SKM9426502-TTTGTTGAGCGCCTCA-1,MF_typeII-FAM189A2,MF_typeII-FAM189A2-young
WS_A_SKM9426502-TTTGTTGAGTCATAGA-1,MF_typeI,MF_typeI-young
WS_A_SKM9426502-TTTGTTGCAACCTATG-1,MF_typeII,MF_typeII-young
WS_A_SKM9426502-TTTGTTGGTCCAAAGG-1,MF_typeI-FAM189A2,MF_typeI-FAM189A2-young

In [35]:
adata_old.obs[['annotation_subcluster', 'cpdb_ctype*age']]

                                   annotation_subcluster        cpdb_ctype*age
mus_SNuc7468112-GCGAGAACAGTCAGCC-1       Type_I_Myocytes   Type_I_Myocytes-old
mus_SNuc7468112-GAGGTGATCACCACCT-1         MYH8+Myocytes     MYH8+Myocytes-old
mus_SNuc7468112-CCAATCCGTAAGGGCT-1      Type_II_Myocytes  Type_II_Myocytes-old
mus_SNuc7468112-AGATTGCCAAGCTGTT-1         MYH8+Myocytes     MYH8+Myocytes-old
mus_SNuc7468112-CCAATCCCACTGCCAG-1                  cDC1              cDC1-old
...                                                  ...                   ...
WS_A_SKM9426498-TTTGGTTGTCTGTGTA-1             high_mito         high_mito-old
WS_A_SKM9426498-TTTGGTTGTGACAGCA-1              MF_typeI          MF_typeI-old
WS_A_SKM9426498-TTTGGTTGTGTTTCTT-1              MF_typeI          MF_typeI-old
WS_A_SKM9426498-TTTGGTTTCCAGCTCT-1        MF_typeI-OTUD1    MF_typeI-OTUD1-old
WS_A_SKM9426498-TTTGGTTTCCTATTTG-1        MF_typeI-OTUD1    MF_typeI-OTUD1-old

[57984 rows x 2 columns]

In [36]:
adata_young.write("cpdb/SKM_myofiber2immcells_young/SKM_myofiber2immcells_adata_young_"+today +".h5ad")

... storing 'Age_bin' as categorical
... storing 'cpdb_ctype*age' as categorical

In [62]:
df_meta_young = pd.DataFrame(data={'Cell': list(adata_young.obs_names),
                       'cell_type': list(adata_young.obs['cpdb_ctype*age'])})
df_meta_young.set_index('Cell',inplace=True)

df_meta_young['cell_type'].unique()

df_meta_young.to_csv("cpdb/SKM_myofiber2immcells_young/SKM_myofiber2immcells_metadata_young_" + today + ".tsv", sep='\t')

array(['cDC2-young', 'Type_I_Myocytes-young', 'CD16-Mono-young',
       'LYVE1+M2-Macrophage-young', 'C14-Mono-SERPINB2+-young',
       'C14-Mono-CSTA+-young', 'CD8+Tcell-young', 'naive-Tcell-young',
       'B_naive-young', 'Mast_cell-young', 'CD4+Tcell-young',
       'CD8+Tcell-CTL-CRTAM+-young', 'MatureNeu-KATNBL1+-young',
       'CD16+NK-young', 'APOE+M2-Macrophage-young',
       'MatureNeu-MMP9+-young', 'Type_II_Myocytes-young', 'PreNeu-young',
       'cDC1-young', 'CD16-NK-young', 'B_memory-young',
       'HOOK2+Myocytes-young', 'UCHL1+Myocytes-young',
       'MYH8+Myocytes-young', 'ProNeu-young', 'MF_typeI-young',
       'Hybrid-young', 'MF_typeI-OTUD1-young', 'MF_typeII-young',
       'high_mito-young', 'MF_type-NCAM1-young',
       'MF_typeII-FAM189A2-young', 'MF_typeI-FAM189A2-young',
       'MF_typeII-OTUD1-young', 'NMJ-young', 'MF_type-SORBS2-young',
       'MF_typeII-TNFRSF12A-young', 'MTJ-young'], dtype=object)

In [37]:
adata_old.write("cpdb/SKM_myofiber2immcells_old/SKM_myofiber2immcells_adata_old_"+today +".h5ad")

... storing 'Age_bin' as categorical
... storing 'cpdb_ctype*age' as categorical

In [61]:
df_meta_old = pd.DataFrame(data={'Cell': list(adata_old.obs_names),
                       'cell_type': list(adata_old.obs['cpdb_ctype*age'])})
df_meta_old.set_index('Cell',inplace=True)
df_meta_old['cell_type'].unique()
df_meta_old.to_csv("cpdb/SKM_myofiber2immcells_old/SKM_myofiber2immcells_metadata_old_" + today + ".tsv", sep='\t')

array(['Type_I_Myocytes-old', 'MYH8+Myocytes-old', 'Type_II_Myocytes-old',
       'cDC1-old', 'cDC2-old', 'LYVE1+M2-Macrophage-old',
       'HOOK2+Myocytes-old', 'CD16-Mono-old', 'CD4+Tcell-old',
       'CD16+NK-old', 'UCHL1+Myocytes-old', 'naive-Tcell-old',
       'CD8+Tcell-old', 'Mast_cell-old', 'CD16-NK-old',
       'C14-Mono-SERPINB2+-old', 'B_memory-old', 'C14-Mono-CSTA+-old',
       'CD8+Tcell-CTL-CRTAM+-old', 'B_naive-old',
       'APOE+M2-Macrophage-old', 'MatureNeu-KATNBL1+-old',
       'Eosinophil-old', 'pDC-old', 'MatureNeu-MMP9+-old', 'ProNeu-old',
       'PreNeu-old', 'MF_typeII-FAM189A2-old', 'MF_typeI-old',
       'MF_typeII-old', 'high_mito-old', 'MF_typeII-TNFRSF12A-old',
       'MF_typeI-FAM189A2-old', 'Hybrid-old', 'MF_type-NCAM1-old',
       'MF_type-SORBS2-old', 'MF_typeI-OTUD1-old', 'MF_typeII-OTUD1-old',
       'NMJ-old', 'MTJ-old'], dtype=object)